*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --redcolor:#dc3545;
    --yellowcolor:#ffd700;
    --accentcolor:#333333;
}

html{
    font-size:62.5%;
}
body{
    background-color:white;
    width:100%;
    height:100%;
    color:var(--accentcolor);
}
header{
    width:100%;
    height:100vh;
    background-image: url(images/background.jpg);
    background-size:cover;
    background-position: center;
}
.container{
    padding:10px 10%;
}
.logo-name{
    font-size:2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.lam{
    color:var(--redcolor);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
nav ul li{
    margin:10px 20px;
    display:inline-block;
    list-style: none;
}
nav ul li a{
    color:var(--accentcolor);
    text-decoration: none;
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background-color: var(--redcolor);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.hero-text{
    margin-top: 10%;
}
.hero-text .specialty{
    font-size:18px;
    letter-spacing: 2px;
    font-weight: 300;
}
.hero-text h1{
    font-size:60px;
    margin-top:20px;
    font-weight: bold;
    position: relative;
}
.hero-text h1::after{
    content:'';
    width:19%;
    height:4px;
    background-color:#dc3545;
    position:absolute;
    bottom:-15px;
    left:0;
}
.hero-text .introduction{
    font-size:19px;
    margin-top:30px;
    margin-bottom: 30px;
}
.hero-text .red-text{
    color:darkred;
}
.hero-text .call-to-action{
    font-size:18px;
    text-decoration: none;
    color:white;
    padding:6px 20px;
    background-color: var(--redcolor);
    border-radius: 5px;
    transition: 0.5s;
}
.hero-text .call-to-action:hover{
    background-color: var(--yellowcolor);
    color:#333333;
}
/*------------about------------------*/
.about{
    padding:80px 0;
    color:#4a4a4a;
    background-color:#f2f2f2;
    border-radius:30px;
    width:97%;
    margin:auto;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    flex-basis:60%;
}
h2, h3, h4{
    font-weight: 600;
    font-size:40px;
}
.about-col-2 p{
    font-size:19px;
    margin-top:10px;
    
}
.bold-text{
    font-weight: 900;
    color:black;
}
.education-row {
    width:100%;
    border:2px solid #d9d9d9;
    border-radius:10px;
    padding:5px 15px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(45deg,rgb(224, 224, 224) ,rgb(239, 239, 239));
    margin-top:5%;
}
.education-row p{
    margin-top:0;
    font-size:16px;
}
.education-row a{
    color:black;
    text-decoration: none;
    font-size:16px;
    transition:0.3s;
}
.education-row a:hover{
    transform:translateY(-1.5px);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
/*--------------Portfolio---------------*/
.portfolio{
    padding:50px 0;
}
.work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(350px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.work{
    background-color: #d9d9d9;
    padding:7px 3px 3px 3px;
    border-radius:5px;
    position:relative;
    overflow:hidden;
    transition:0.5s;
}
.work:hover{
    transform:translateY(-3px);
    box-shadow:0 3px 2px rgba(0,0,0,0.2);
}
.work img{
    width:100%;
    border-radius:8px;
    display:block;
    transition: transform 0.5s;
}
.work-title{
    padding:8px;
    font-size:15px;
}
.work p, .work i{
    display:inline;
}
.work i{
    font-size:15px;
}
/*----------contact-----------*/
.contact .container{
    margin-top:50px;
    display:flex;
    background-color:#f4f4f4;
    padding-top:100px;
    padding-bottom:50px;
}
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top:30px;
    color:gray;
    font-size:14px;
}
.contact-left p i{
    color:#dc3545;
    font-size:25px;
    margin-right:15px;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    font-size:30px;
    margin-right:15px;
    text-decoration: none;
    color:#4a4a4a;
    display:inline;
}
.social-icons a i{
    transition:0.3s;
}
.social-icons a i:hover{
    color:#ffd700;
    transform:translateY(-2px);
    text-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:1px solid gray;
    outline:none;
    background:transparent;
    border-radius:4px;
    padding:9px;
    margin:10px 0;
    font-size:14px;
    color:rgb(60, 60, 60);
}
form button{
    padding:6px 40px;
    font-size:14px;
    margin-top:20px;
    cursor:pointer;
    background-color:var(--redcolor);
    border:none;
    color:white;
    border-radius:5px;
    transition: 0.5s;
}
form button:hover{
    background-color: var(--yellowcolor);
    color:black;
}
/*-------------media queries-------------*/
@media only screen and (max-width:600px){
    header{
        background-image: url(images/phone-background.jpg);
    }
    .hero-text{
        font-size:16px;
        margin-top:50%;
        width:70%;
    }
    .hero-text h1{
        font-size:30px;
        font-weight: bold;
        position:relative;
    }
    .hero-text h1:after{
        content:'';
        width:50%;
        height:3px;
        background-color:#dc3545;
        position: absolute;
        left:0;
        top:110%;
    }
    .hero-text .call-to-action{
        padding:0;
        width:0;
        height:0;
        font-size:0;
        display:none;
    }
    nav{
        width:100%;
        background-color:white;
        position:fixed;
        top:0;
        left:0;
        box-shadow:2px 0 15px rgba(0,0,0,0.2);
        z-index: 3;
    }
    nav ul{
        margin:auto;
    }
    .logo-name{
        height:0;
        width:0;
        font-size:0;
    }
    .about{
        width:100%;
    }
    h2, h3, h4{
        font-size:30px;
    }
    .about-col-1, .about-col-2{
        flex-basis:100%;
    }
    .about-col-1{
        margin-bottom:30px;
    }
    .about-col-2 p{
        font-size:14px;
    }
    .education-row{
        margin-top:10%;
    }
    .education-row p, .education-row  a{
        font-size:14px;
        width:100%;
    }
    .education-row a{
        text-align:center;
        position:relative;
    }
    .education-row a::after{
        content:'';
        width:70%;
        height:2px;
        background-color:gainsboro;
        position:absolute;
        left:16%;
        bottom:50%;
    }
    .portfolio .container{
        padding:0 5%;
    }
    .work-list{
        grid-gap:30px;
    }
    .contact .container{
        padding-top:30px;
        padding-bottom:20px;
        flex-direction: column;
    }
    .contact-left, .contact-right{
        flex-basis:100%;
    }
    .contact-left p i{
        font-size:18px;
    }
}
